---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
const { call_to_action } = Astro.props;
---

{
  call_to_action.data.enable && (
          <div class="row items-center justify-between ">
            <ImageMod
                src={call_to_action.data.image}
                width={250}
                height={350}
                alt="Villa Tamaris"
                format="webp"
              />
                <a href={call_to_action.data.button.link}
                class="block no-underline"
                >
              <h2
                set:html={markdownify(call_to_action.data.title)}
                class="mb-2"
              />
              <p
                set:html={markdownify(call_to_action.data.description)}
                class="mb-6"
              />

              {call_to_action.data.button.enable && (
            <div class="flex justify-center w-full btn btn-primary">

              
                  {call_to_action.data.button.label}
               
              </div>

              )}
            </a>   
          </div>

  )
}